[submodule "src/main/java/org/kaihua/obliiop/collection/obliop_flatbuffer"]
	path = src/main/java/org/kaihua/obliiop/collection/obliop_flatbuffer
	url = https://github.com/huahuak/obliop_flatbuffer.git
